{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
Name       : LadyTulip
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131127
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{% static 'default.css'	%}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="{% static 'default_ie6.css' %}" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>

<div  class="container">

<!-- g1 -->

    <div style="overflow: hidden;">
        <div id="page" class="title">
            <img class="column4" src="{% static 'images/g1.png' %}" width="282" height="150" alt="" />
            <p class="column4" style="padding-left: 100px">G1 é um portal de notícias brasileiro mantido pelo Grupo Globo e sob orientação da Central Globo de Jornalismo.</p>

        </div>
    </div>


    <div class="row">
        <div class="column7" onclick="openTab('b1');" style="background:black;">Ler aqui</div>
        <div class="column7" style="background:rgb(53, 52, 52);"><a href="{{G1}}">Site original</a></div>
    </div>

    <div id="b1" class="containerTab" style="display:none;background:black">
        <button class="button button1" onclick="orderByDate('{{G1OBD}}','if1')">Filtrar por data ?</button>
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
        <iframe id="if1" src="{{G1}}" height="400" width="1150"></iframe>
    </div>


<!-- cnn -->

    <div style="overflow: hidden;">
        <div id="page" class="title">
            <img class="column4" src="{% static 'images/cnn.png' %}" width="282" height="150" alt="" />
            <p class="column4" style="padding-left: 100px">G1 é um portal de notícias brasileiro mantido pelo Grupo Globo e sob orientação da Central Globo de Jornalismo.</p>

        </div>
    </div>

    <div class="row">
        <div class="column7" onclick="openTab('b2');" style="background:black;">Ler aqui</div>
        <div class="column7" style="background:rgb(53, 52, 52);"><a href="{{CNN_BR}}">Site original</a></div>
    </div>

    <div id="b2" class="containerTab" style="display:none;background:black">
        <button class="button button1" onclick="orderByDate('{{CNN_BROBD}}','if2')">Filtrar por data ?</button>
        <span onclick="this.parentElement.style.display='none'" class="closebtn"  >&times;</span>

        <iframe id="if2" src="{{CNN_BR}}" height="400" width="1150"></iframe>
    </div>

<!-- uol -->

    <div style="overflow: hidden;">
        <div id="page" class="title">
            <img class="column4" src="{% static 'images/uol.png' %}" width="282" height="250" alt="" />
            <p class="column4" style="padding-left: 100px">Universo Online, mais conhecido pela sigla UOL, é uma empresa brasileira de conteúdo, produtos e serviços de Internet do Grupo UOL PagSeguro.</p>

        </div>
    </div>

    <div class="row">
        <div class="column7" onclick="openTab('b3');" style="background:black;">Ler aqui</div>
        <div class="column7" style="background:rgb(53, 52, 52);"><a href="{{UOL}}">Site original</a></div>
    </div>

    <div id="b3" class="containerTab" style="display:none;background:black">
        <button class="button button1" onclick="orderByDate('{{UOLOBD}}','if3')">Filtrar por data ?</button>
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
        <iframe id="if3" src="{{UOL}}" height="400" width="1150"></iframe>
    </div>

<!-- folha -->


    <div style="overflow: hidden;">
        <div id="page" class="title">
            <img class="column4" src="{% static 'images/folha.jpg' %}" width="282" height="150" alt="" />
            <p class="column4" style="padding-left: 100px">Folha de S.Paulo é um jornal brasileiro editado na cidade de São Paulo e jornal de maior circulação do Brasil.</p>

        </div>
    </div>

    <div class="row">
        <div class="column7" onclick="openTab('b4');" style="background:black;">Ler aqui</div>
        <div class="column7" style="background:rgb(53, 52, 52);"><a href="{{FDSP}}">Site original</a></div>
    </div>

    <div id="b4" class="containerTab" style="display:none;background:black">
        <button class="button button1"onclick="orderByDate('{{FDSPOBD}}','if4')">Filtrar por data ?</button>
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
        <iframe id="if4" src="{{FDSP}}" height="400" width="1150"></iframe>
    </div>

<!-- estadao -->

    <div style="overflow: hidden;">
        <div id="page" class="title">
            <img class="column4" src="{% static 'images/estadao.jpg' %}" width="282" height="150" alt="" />
            <p class="column4" style="padding-left: 100px">As principais e as últimas notícias do Brasil e do mundo com credibilidade na informação sobre política, economia, e muitos outros assuntos.</p>

        </div>
    </div>

    <div class="row">
        <div class="column7" onclick="openTab('b5');" style="background:black;">Ler aqui</div>
        <div class="column7" style="background:rgb(53, 52, 52);"><a href="{{ESTADAO}}">Site original</a></div>
    </div>

    <div id="b5" class="containerTab" style="display:none;background:black">
        <button class="button button1"onclick="orderByDate('{{ESTADAOOBD}}','if5')">Filtrar por data ?</button>
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
        <iframe id="if5" src="{{ESTADAO}}" height="400" width="1150"></iframe>
    </div>


</div>

<script>
	function openTab(tabName) {
	  var i, x;
	  x = document.getElementsByClassName("containerTab");
	  for (i = 0; i < x.length; i++) {
		x[i].style.display = "none";
	  }
	  document.getElementById(tabName).style.display = "block";
	}

	function orderByDate(url, frameId) {
	  document.getElementById(frameId).src = url;
	}
</script>

</body>



</html>